{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
<a id="button"></a>
<section class="titleBody">
    <div class="container-fluid h-100 g-0">
        <div class="row h-100 g-0">
            <div class="col-lg-7">
                <div class="h-50 d-flex align-items-center">
                    <h1><span>M</span>oulin Jordan</h1>
                </div>
                <div class="h-50">
                    <p class="display-6">Développeur Web et Web mobile,</p>
                    <p class="display-6">Orienté "Backend/Full stack".</p>
                    <a href="{{asset("build/uploads/CV_MOULIN_Jordan_Developpeur_web.pdf")}}" download="CV_MOULIN_Jordan_Developpeur_web.pdf" class="btn btn-custom1">Télécharger mon CV <i class="fa-solid fa-download"></i></a>
                </div>
            </div>
            <div class="col-lg-5 d-flex justify-align-center align-items-center ml-5">
                <div class="profilePicture d-flex justify-content-center align-items-center"></div>
            </div>
        </div>
    </div>
</section>
<section class="skills" id="skill">
    <div class="titleContainer">
        <div class="display-2 p-5">
            <span>C</span>ompétences
        </div>
    </div>
    <div class="w-100 h-100 d-flex align-items-center my-5">
        <div class="container-fluid">
            <div class="row p-5">
                <div class="col d-flex justify-content-center p-1">
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center display-3 align-items-center color-bg-grey"><i
                                class="fa-brands fa-html5 color-html"></i>&nbsp;&nbsp;<i
                                class="fa-brands fa-css3-alt color-css"></i></div>
                        <div class="card-body color-bg-white">
                            <h5 class="card-title d-flex justify-content-center">Html&nbsp;/&nbsp;CSS</h5>
                            <p class="card-text">Language de balisage Html Language de style css</p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center p-1">
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center display-3 align-items-center color-bg-grey"><i
                                class="fa-brands fa-js color-js"></i></div>
                        <div class="card-body color-bg-white js">
                            <h5 class="card-title d-flex justify-content-center ">Javascript</h5>
                            <p class="card-text">Javascript "FrontEnd" / "BackEnd"</p>
                        </div>
                    </div>
                </div>

                <div class="col d-flex justify-content-center p-1">
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center display-3 align-items-center color-bg-grey"><i
                                class="fa-brands fa-php color-php"></i></div>
                        <div class="card-body color-bg-white">
                            <h5 class="card-title d-flex justify-content-center">PHP</h5>
                            <p class="card-text">PHP natif / POO / MVC</p>
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center p-1">
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center display-3 align-items-center color-bg-grey"><i
                                class="fa-brands fa-symfony"></i>&nbsp;&nbsp;<i class="fa-brands fa-laravel"></i></div>
                        <div class="card-body color-bg-white">
                            <h5 class="card-title d-flex justify-content-center  ">Framework Symfony / Laravel</h5>
                            <p class="card-text">Framework php Symfony et Laravel</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="exp" id="experience">
    <div class="titleContainer">
        <div class="display-2 p-5">
            <span>E</span>xpériences
        </div>
    </div>
    <div class="exp-container">
        <div class="title-exp display-5">Formation Simplon développeur web (Charleville-mézières)</div>
        <div class="text-exp">
            2021/2022
        </div>
        <div class="title-exp display-5">Licence Informatique (Reims)</div>
        <div class="text-exp">
            2019/2021
        </div>
        <div class="title-exp display-5">Prépa CPGE TSI (Valenciennes)</div>
        <div class="text-exp">
            2017/2019
        </div>
        <div class="title-exp display-5">BAC STI2D option SIN</div>
        <div class="text-exp">
            2016/2017
        </div>

    </div>
</section>

<section class="skills pt-5">
    <div class="titleContainer">
        <div class="display-2 p-5">
            <span>M</span>es projets
        </div>
    </div>
    {% for project in projects %}
    <div class="w-100 h-100 d-flex align-items-center my-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col d-flex justify-content-center p-1">
                    <div class="card bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header text-center display-3 align-items-center color-bg-grey">
                            <img src="build/{{ project.imageProjet }}" alt="" class="img-fluid rounded">
                        </div>
                        <div class="card-body color-bg-white">
                            <h5 class="card-title d-flex justify-content-center display-6 pb-4">{{ project.nomProjet }}
                            </h5>
                            <p class="card-text text-center">{{ project.description}}</p>
                            <div class="iconContainer d-flex justify-content-around w-50 py-3">
                                <a href="{{ project.linkGithub }}"><i class="fa-brands fa-github"></i></a>
                                <a href="{{ project.linkExtern }}"><i class="fa-solid fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}



</section>
<section class="form-contact" id="contactLink">
    <div class="titleContainer-blue">
        <div class="display-2 pt-5 pb-3 ml-5 title-contact">
            <span>C</span>ontact
        </div>
        <div class="title-desc">
            Formulaire de contact via e-mail
        </div>
    </div>
    <div class="form-container py-5">
        <form class="d-flex flex-column align-items-center">
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Nom">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Prénom">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="E-mail">
            </div>
            <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"
                    placeholder="Message"></textarea>
            </div>
            <div class="d-flex justify-content-start w-100">
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}